<section id="padrinos-choices-section-full-page">
  {% include padrino_program_boxes.html source="full-page" %}
</section>

<script>
  window.asyncLoadPaypalScript();
  var src = "{{ '/js/paypal_subscriptions_full_page.js' | relative_url }}?{{ site.time | date: '%s%N' }}";
  window.lazyLoadScript(src, undefined, 'async_paypal_subscriptions_full_page_js_load_fail');
</script>

<div class="is-hidden" id="padrino-subscription-confirmation">
  <div class="container content-container has-background-white has-text-centered">
    <div style="margin-top: 30px; margin-bottom: 30px;">
      <div class="custom-icon">
        <div class="custom-icon__tip"></div>
        <div class="custom-icon__long"></div>
      </div>

      <p class="is-size-5 mt-2">
        {{ site.data.languages[page.lang].donate.modal.success_msg }}
      </p>
    </div>
  </div>
</div>
