title: Hogar Albergue para Niños Jesús de Nazaret
url: "https://www.hogarjesusdenazaret.org"
permalink: "/:path/"
defaults:
  - scope:
      path: ""
    values:
      layout: page
  - scope:
      path: ""
      type: posts
    values:
      layout: post
  - scope:
      path: ""
      type: noticias
    values:
      layout: noticia
collections:
  carousel_highlights:
  posts:
    output: true
    permalink: "/en/posts/:name"
  noticias:
    output: true
    permalink: "/es/noticias/:name"
  upcoming_events:
    output: true
    permalink: "/en/upcoming_events/:name"
  proximos_eventos:
    output: true
    permalink: "/es/proximos_eventos/:name"
sass:
  style: compressed
  sass_dir: _sass

feed:
  collections:
    noticias:
      path: "/noticias.xml"
    upcoming_events:
      path: "/upcoming_events.xml"
    proximos_eventos:
      path: "/proximos_eventos.xml"

keep_files: [uploads, sw.js]

repository: jnewcs/hogar-nazaret

plugins:
  - jekyll-feed
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-bookshop

bookshop_locations:
  - ../component-library
