<div class="column is-half">
  <div class="card">
    {% if include.person.thumbnail %}
      <div class="card-image">
        <figure class="image pt-2">
          <img
            style="height: 250px; width: auto;"
            src="{{ include.person.thumbnail | relative_url }}"
            alt="{{ include.person.name }}">
        </figure>
      </div>
    {% endif %}

    <div class="card-content has-text-centered mb-0">
      <div class="title is-size-5 mb-0">
        {{ include.person.name }}
      </div>

      {% if include.person.city %}
        <div>
          <span class="tag is-light mt-1">
            {{ include.person.city }}
          </span>
        </div>
      {% endif %}

      <div>
        {% if include.person.position_highlight == true %}
          {% assign tag_class = 'tag' %}
          {% assign tag_id = 'tag-highlight' %}
        {% else %}
          {% assign tag_class = 'tag is-light' %}
          {% assign tag_id = '' %}
        {% endif %}

        <span class="{{ tag_class }}" id="{{ tag_id }}">
          {{ include.person.position[page.lang] }}
        </span>
      </div>
    </div>

    <div class="card-content">
      <p>
        {{ include.person.background_snippet[page.lang] }}
      </p>

      <hr />

      <b>
        {{ site.data.languages[page.lang].board.reason }}
      </b>

      <blockquote class="mt-1">
        {{ include.person.reason[page.lang] }}
      </blockquote>
    </div>
  </div>
</div>
