{% comment %}
  Displays the board of directors
{% endcomment %}
{% if site.data.information.board_elections_in_progress == true %}
  <p class="is-size-4 is-cursive has-text-centered">
    {{ site.data.languages[page.lang].board_elections_explanation }}
  </p>
{% else %}
  <div class="columns pt-1 is-multiline is-vcentered is-centered">
    {% for person in site.data.board_of_directors %}
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image pt-2">
              <img style="height: 250px; width: auto;" src="{{ person.image | relative_url }}" alt="{{ person.name }}">
            </figure>
          </div>

          <div class="card-content has-text-centered">
            <div class="title is-size-5">
              {{ person.name }}
            </div>

            <hr />

            <div>
              {{ person.position[page.lang] }}
            </div>

            {% if person.background %}
              <div>
                <span class="tag is-light">
                  {{ person.background[page.lang] }}
                </span>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
