<div class="column is-one-third">
  <div class="card">
    {% if include.person.image %}
      <div class="card-image">
        <figure class="image pt-2">
          <img style="height: 250px; width: auto;" src="{{ include.person.image | relative_url }}" alt="{{ include.person.name }}">
        </figure>
      </div>
    {% endif %}

    <div class="card-content has-text-centered">
      <div class="title is-size-5 mb-0">
        {{ include.person.name }}
      </div>

      {% if include.person.city %}
        <div>
          <span class="tag is-light mt-1">
            {{ include.person.city }}
          </span>
        </div>
      {% endif %}

      <hr />

      <div>
        {% if include.person.is_president == true %}
          {% assign tag_class = 'tag' %}
          {% assign tag_id = 'tag-highlight' %}
        {% elsif include.is_leader == true %}
          {% assign tag_class = 'tag is-primary' %}
          {% assign tag_id = '' %}
        {% else %}
          {% assign tag_class = 'tag is-light' %}
          {% assign tag_id = '' %}
        {% endif %}

        <span class="{{ tag_class }}" id="{{ tag_id }}">
          {{ include.person.position[page.lang] }}
        </span>
      </div>
    </div>
  </div>
</div>
