{% comment %}
  Shows a Carousel
{% endcomment %}

{% assign related = site.carousel_highlights | where:"lang", page.lang | sort: "order" %}

<div class="fluid-container position-relative">
  <div class="is-flex-container is-spaced-between has-text-centered is-hidden-touch" id="controls-container">
    <div class="clickable prev-button">&#8249;</div>
    <div class="clickable next-button">&#8250;</div>
  </div>
  <div id="autoplay-button" data-action="stop"></div>
  <div id="carousel-container">
    <!-- 15768000 is 6 months in seconds -->
    {% assign timeframe = 15768000 %}
    {% assign six_months_in_seconds = "now" | date: "%s" | minus: timeframe | to_integer  %}

    {% for highlight in related %}
      {% assign highlight_creation_date_in_seconds = highlight.creation_date | date: "%s" | to_integer %}

      {% if highlight_creation_date_in_seconds < six_months_in_seconds %}
        {% unless highlight.always_show %}
          <!-- If the highlight is older than 6 months and not marked as always show, we hide it -->
          {% continue %}
        {% endunless %}
      {% endif %}

      {% if highlight.hide_from_carousel %}
        {% continue %}
      {% else %}
        <div class="carousel-highlight-container {% unless forloop.first %}is-hidden{% endunless %}">
          <div class="columns is-gapless carousel-slide">
            {% if highlight.full_page %}
              {% include full_page_carousel_content.html higlight=highlight %}
            {% else %}
              <div class="column has-background-white-ter is-flex-container has-text-centered has-text-centered is-fully-centered" style="position: relative; overflow: hidden">
                <img
                  class="carousel-image tns-lazy-img"
                  data-src="{{ highlight.banner_image | relative_url }}"
                />
              </div>

              <div class="column has-background-white-ter is-flex-container is-fully-centered pt-0">
                <div class="container content-container carousel-text is-unselectable">
                  <h1 class="is-size-3 is-uppercase is-unselectable">
                    {{ highlight.title }}
                  </h1>
                  <p class="is-unselectable">
                    {{ highlight.content }}
                  </p>

                  {% if highlight.link_text %}
                    <br />
                    {% if highlight.link_opens_donate %}
                      <a class="button modal-opener is-secondary has-text-white is-medium" data-target="donation-modal" href="#">
                        {{ highlight.link_text }}
                      </a>
                    {% else %}
                      <a class="button is-secondary has-text-white is-medium" href="{{ highlight.link_destination | relative_url }}">
                        {{ highlight.link_text }}
                      </a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
