{% comment %}
  Displays the Collaborators
{% endcomment %}

<div class="columns is-multiline" id="collaborators">
  {% for category in page.categories %}
    <div class="column {{ category.column_size }}">
      {% if category.subtitle %}
        {% assign spacer_class = 'mb-tiny' %}
      {% else %}
        {% assign spacer_class = 'mb-1' %}
      {% endif %}

      <p class="is-size-4 title is-cursive {{ spacer_class }}">{{ category.title }}</p>
      {% if category.subtitle %}
        <p class="pt-0 is-size-6 subtitle has-text-grey">
          {{ category.subtitle }}
        </p>
      {% endif %}

      <div class="{% if category.use_tags %}tags{% endif %}">
        {% for sponsor in category.data %}
          <div>
            <span class="tag is-light collaborator-tag" style="margin-bottom: 8px; margin-right: 8px;">
              {{ sponsor }}
            </span>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>