<div class="modal" id="donation-modal">
  <div class="modal-background modal-closer" aria-label="close" data-target="donation-modal"></div>

  <div class="modal-content">
    <button class="custom-modal-close delete modal-closer is-large" id="donation-modal-close-btn" aria-label="close" data-target="donation-modal"></button>

    <div class="container content-container has-background-white is-cursive" id="donation-content-container">
      <h3 class="is-size-3 has-text-centered mb-1">
        {{ site.data.languages[page.lang].donate.modal.title }}
      </h3>

      <div class="tabs is-toggle is-fullwidth">
        <ul>
          <li class="tab is-active" data-target="sponsor-content">
            <a>
              <span>{{ site.data.languages[page.lang].donate.modal.type.sponsor }}</span>
            </a>
          </li>

          <li class="tab" data-target="donate-now-content">
            <a>
              <span>{{ site.data.languages[page.lang].donate.modal.type.now }}</span>
            </a>
          </li>
        </ul>
      </div>

      <div id="tab-contents">
        <div class="tab-content has-text-centered is-active" id="sponsor-content" data-paypal-script-src="{{ '/js/paypal_subscriptions_modal.js' | relative_url }}?{{ site.time | date: '%s%N' }}";>
          <p class="is-size-5 mb-1">
            {{ site.data.languages[page.lang].donate.modal.recurring_call_to_action }}
          </p>

          <section id="padrinos-choices-section-modal">
            {% include padrino_program_boxes.html source="modal" %}
          </section>

          <div class="container content-container has-background-white has-text-centered is-hidden" id="padrinos-success-container">
            <div style="margin-top: 30px; margin-bottom: 30px;">
              <div class="custom-icon">
                <div class="custom-icon__tip"></div>
                <div class="custom-icon__long"></div>
              </div>

              <p class="is-size-5 mt-2">
                {{ site.data.languages[page.lang].donate.modal.success_msg }}
              </p>
            </div>
          </div>
        </div>

        <div class="tab-content has-text-centered" id="donate-now-content">
          <p class="is-size-5 mb-1">
            {{ site.data.languages[page.lang].donate.modal.enter_one_time_amount }}
          </p>

          <form class="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="23UGP3TU8AQLN">
            <input type="hidden" name="lc" value="{{ site.data.languages[page.lang].donate.locale }}">
            <input type="hidden" name="item_name" value="{{ site.data.languages[page.lang].donate.item_name }}">
            <input type="hidden" name="item_number" value="Webfree">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="cn" value="Donation Message">
            <input type="hidden" name="no_shipping" value="2">
            <input type="hidden" name="rm" value="1">
            <input type="hidden" name="cancel_return" value="http://hogarjesusdenazaret.org/index.php?cID=211">
            <input type="hidden" name="cancel_return" value="http://hogarjesusdenazaret.org/index.php?cID=211">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="bn" value="PP-DonationsBF:IMAGE:NonHosted">

            <div class="columns is-centered">
              <div class="column is-half">
                <div class="field">
                  <div class="control has-icons-left">
                    <input class="input is-medium" id="one-time-donation-amount" name="amount" type="number" value="15" type="number" min="0" step="1">
                    <span class="icon is-left">
                      $
                    </span>
                  </div>
                </div>
              </div>
            </div>

            {% if site.data.information.payment_request_on == true %}
              <section
                id="payment-form-inner-container"
                data-lang="{{ page.lang }}"
                data-key="{{ site.data.payments.stripe_publish_key[jekyll.environment] }}"
                data-label="{{ site.data.languages[page.lang].donate.one_time_amount_label }}"
                data-env="{{ jekyll.environment }}"
              >
                <div class="columns is-mobile is-centered">
                  <div class="column is-half">
                    <div id="payment-request-button">
                      <div class="spinner small"></div>
                    </div>
                  </div>
                </div>
              </section>
            {% endif %}

            <hr id="payment-divider-for-one-time-donation" />

            <div class="field mt-2">
              <button class="button is-medium is-secondary" type="submit">
                {{ site.data.languages[page.lang].donate.call_to_action_paypal }}
              </button>

              <div class="mt-1">
                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppmcvdam.png" alt="Credit Card Badges" style="height: 30px" loading='lazy'>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="link-to-padrinos is-hidden has-text-centered mt-2">
        {% assign padrinos_page = site.pages | where: "lang", page.lang | where: "lang_ref", "padrinos-program" | first %}

        <a href="{{ padrinos_page.url | relative_url }}">
          {{ site.data.languages[page.lang].donate.modal.padrinos_callout }}
        </a>
      </div>
    </div>

    <div class="container content-container has-background-white has-text-centered is-hidden" id="loading-container">
      <div style="margin-top: 30px; margin-bottom: 30px;">
        <progress class="progress is-large is-info" max="100"></progress>
        <h3 class="is-size-3 has-text-centered">
          {{ site.data.languages[page.lang].donate.modal.processing_payment }}
        </h3>
      </div>
    </div>

    <div class="container content-container has-background-white has-text-centered is-hidden" id="success-container">
      <div style="margin-top: 30px; margin-bottom: 30px;">
        <div class="custom-icon">
          <div class="custom-icon__tip"></div>
          <div class="custom-icon__long"></div>
        </div>

        <p class="is-size-5 mt-2">
          {{ site.data.languages[page.lang].donate.modal.success_msg }}
        </p>
      </div>
    </div>

    <div class="container content-container has-background-white has-text-centered is-hidden" id="error-container">
      <div style="margin-top: 30px; margin-bottom: 30px;">
        <div class="custom-icon red">
          <div class="custom-icon__tip red"></div>
          <div class="custom-icon__long red"></div>
        </div>

        <p class="is-size-5 mb-1 mt-2">
          {{ site.data.languages[page.lang].donate.modal.error_msg }}
        </p>

        <button class="button is-medium is-secondary" id="retry-button">
          {{ site.data.languages[page.lang].donate.modal.retry }}
        </button>
      </div>
    </div>
  </div>
</div>
