<footer class="footer pb-3">
  <div class="content has-text-centered">
    {% assign multilingual_pages = site.pages | where:"lang_ref", page.lang_ref | sort: 'lang' %}
    {% if multilingual_pages.size > 1 %}
      <div class="page-switcher">
        <em>
          {{ site.data.languages[page.lang].switcher }}:
        </em>

        {% for multilingual_page in multilingual_pages %}
          {% if page.lang != multilingual_page.lang %}
            <span class="mr-1">
              <a href="{{ multilingual_page.url | relative_url }}" class="{{ multilingual_page.lang }}">
                {{ site.data.languages[multilingual_page.lang].label }}
              </a>
            </span>
          {% endif %}
        {% endfor %}

        <hr />
      </div>
    {% endif %}

    <!-- We also want to cover a mulitlingual post -->
    {% if page.lang == 'en' %}
      {% assign multilingual_post = site.noticias | where:"lang_ref", page.lang_ref %}
    {% else %}
      {% assign multilingual_post = site.posts | where:"lang_ref", page.lang_ref %}
    {% endif %}

    {% if multilingual_post.size > 0 %}
      <div class="page-switcher">
        <em>
          {{ site.data.languages[page.lang].switcher }}:
        </em>
      </div>

      <span class="mr-1">
        <a href="{{ multilingual_post.first.url | relative_url }}" class="{{ multilingual_post.first.lang }}">
          {{ site.data.languages[multilingual_post.first.lang].label }}
        </a>
      </span>

      <hr />
    {% endif %}

    <!-- We also want to cover a mulitlingual upcoming event -->
    {% if page.lang == 'en' %}
      {% assign multilingual_event = site.proximos_eventos | where:"lang_ref", page.lang_ref %}
    {% else %}
      {% assign multilingual_event = site.upcoming_events | where:"lang_ref", page.lang_ref %}
    {% endif %}

    {% if multilingual_event.size > 0 %}
      <div class="page-switcher">
        <em>
          {{ site.data.languages[page.lang].switcher }}:
        </em>
      </div>

      <span class="mr-1">
        <a href="{{ multilingual_event.first.url | relative_url }}" class="{{ multilingual_event.first.lang }}">
          {{ site.data.languages[multilingual_event.first.lang].label }}
        </a>
      </span>

      <hr />
    {% endif %}

    <p>
      HOGAR ALBERGUE JESÚS DE NAZARET, INC © {{ site.data.information.year }}
    </p>

    <div class="pb-1">
      <a href="https://app.forestry.io/sites/heqefiwcnetumg" target="_blank" rel="noreferrer">
        {{ site.data.languages[page.lang].admin_link }}
      </a>
    </div>
  </div>
</footer>

<div class="is-hidden has-background-primary-light has-text-centered is-full-width pt-1 pb-1" id="offline-notification-container">
  {{ site.data.languages[page.lang].offline_message }}
</div>

{% if site.data.information.service_worker == true %}
  {% include register_service_worker.html %}
{% endif %}

{% if layout.lazy_load %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
{% endif %}
<script src="{{ "/js/main.js" | relative_url }}" type="text/javascript"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{{ "/js/payment.js" | relative_url }}" type="text/javascript"></script>
</body>
</html>
