<footer class="footer pb-3">
  <div class="content has-text-centered">
    {% assign multilingual_pages = site.pages | where:"lang_ref", page.lang_ref | sort: 'lang' %}
    {% if multilingual_pages.size > 1 %}
      <div class="page-switcher">
        <em>
          {{ site.data.languages[page.lang].switcher }}:
        </em>

        {% for multilingual_page in multilingual_pages %}
          {% if page.lang != multilingual_page.lang %}
            <span class="mr-1">
              <a href="{{ multilingual_page.url | relative_url }}" class="{{ multilingual_page.lang }}">
                {{ site.data.languages[multilingual_page.lang].label }}
              </a>
            </span>
          {% endif %}
        {% endfor %}

        <hr />
      </div>
    {% endif %}

    <!-- We also want to cover a mulitlingual post -->
    {% if page.lang == 'en' %}
      {% assign multilingual_post = site.noticias | where:"lang_ref", page.lang_ref %}
    {% else %}
      {% assign multilingual_post = site.posts | where:"lang_ref", page.lang_ref %}
    {% endif %}

    {% if multilingual_post.size > 0 %}
      <div class="page-switcher">
        <em>
          {{ site.data.languages[page.lang].switcher }}:
        </em>
      </div>

      <span class="mr-1">
        <a href="{{ multilingual_post.first.url | relative_url }}" class="{{ multilingual_post.first.lang }}">
          {{ site.data.languages[multilingual_post.first.lang].label }}
        </a>
      </span>

      <hr />
    {% endif %}

    <!-- We also want to cover a mulitlingual upcoming event -->
    {% if page.lang == 'en' %}
      {% assign multilingual_event = site.proximos_eventos | where:"lang_ref", page.lang_ref %}
    {% else %}
      {% assign multilingual_event = site.upcoming_events | where:"lang_ref", page.lang_ref %}
    {% endif %}

    {% if multilingual_event.size > 0 %}
      <div class="page-switcher">
        <em>
          {{ site.data.languages[page.lang].switcher }}:
        </em>
      </div>

      <span class="mr-1">
        <a href="{{ multilingual_event.first.url | relative_url }}" class="{{ multilingual_event.first.lang }}">
          {{ site.data.languages[multilingual_event.first.lang].label }}
        </a>
      </span>

      <hr />
    {% endif %}

    <p>
      HOGAR ALBERGUE JESÚS DE NAZARET, INC © {{ site.data.information.year }}
    </p>

    <div class="pb-1">
      <a href="https://app.forestry.io/sites/heqefiwcnetumg" target="_blank" rel="noreferrer">
        {{ site.data.languages[page.lang].admin_link }}
      </a>
    </div>
  </div>
</footer>

<div class="is-hidden has-background-primary-light has-text-centered is-full-width pt-1 pb-1" id="offline-notification-container">
  {{ site.data.languages[page.lang].offline_message }}
</div>

{% assign needs_link = site.data.information.needs[page.lang].url %}
{% if (needs_link contains "png") or (needs_link contains "jpg") %}
  <div class="modal" id="needs-modal">
    <div class="modal-background"></div>

    <div class="modal-content">
      <p class="image is-flex-container is-horizontally-centered">
        <img class="modal-highlight" id="needs-modal-highlight">
      </p>
    </div>

    <button class="modal-close modal-image-close is-large" aria-label="close" id="needs-modal-close"></button>
  </div>
{% endif %}

<script src="{{ '/js/main.js' | relative_url }}?{{ site.time | date: '%s%N' }}" type="text/javascript"></script>
<script src="{{ '/js/cloudcannon.js' | relative_url }}?{{ site.time | date: '%s%N' }}" type="text/javascript"></script>
<!-- When the user clicks on Donate, we load in Stripe JS and the payment modal javascript -->
<div id="payment-modal-src" data-src="{{ '/js/payment_modal.js' | relative_url }}?{{ site.time | date: '%s%N' }}"></div>
<script src="{{ '/js/image_modal.js' | relative_url }}?{{ site.time | date: '%s%N' }}" type="text/javascript" defer></script>

{% if page.layout == 'campaign' %}
  {% if page.campaign_type == 'give_a_hug' %}
    {% include give_a_hug/footer.html %}
  {% endif %}
{% endif %}
</body>
</html>
