<footer class="footer pb-3">
    <div class="content has-text-centered">
        {% assign multilingual_pages = site.pages | where:"lang_ref", page.lang_ref | sort: 'lang' %}
        {% if multilingual_pages.size > 1 %}
            <div class="page-switcher">
                <em>
                    {{ site.data.languages[page.lang].switcher }}:
                </em>

                {% for multilingual_page in multilingual_pages %}
                    {% if page.lang != multilingual_page.lang %}
                        <span class="mr-1">
                            <a href="{{ multilingual_page.url | absolute_url }}" class="{{ multilingual_page.lang }}">
                                {{ site.data.languages[multilingual_page.lang].label }}
                            </a>
                        </span>
                    {% endif %}
                {% endfor %}

                <hr />
            </div>
        {% endif %}

        <!-- We also want to cover a mulitlingual post -->
        {% if page.lang == 'en' %}
            {% assign multilingual_post = site.noticias | where:"lang_ref", page.lang_ref %}
        {% else %}
            {% assign multilingual_post = site.posts | where:"lang_ref", page.lang_ref %}
        {% endif %}

        {% if multilingual_post.size > 0 %}
            <div class="page-switcher">
                <em>
                    {{ site.data.languages[page.lang].switcher }}:
                </em>
            </div>

            <span class="mr-1">
                <a href="{{ multilingual_post.first.url | absolute_url }}" class="{{ multilingual_post.first.lang }}">
                    {{ site.data.languages[multilingual_post.first.lang].label }}
                </a>
            </span>

            <hr />
        {% endif %}

        <p>
            HOGAR ALBERGUE JESÚS DE NAZARET, INC © {{ site.data.information.year }}
        </p>
    </div>
</footer>

{% if layout.lazy_load %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
{% endif %}
<script src="{{ "/js/main.js" | absolute_url }}" type="text/javascript"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="{{ "/js/payment.js" | absolute_url }}" type="text/javascript"></script>
</body>
</html>
