{% if highlight.full_page_link %}
  <a
    class="column has-background-white-ter is-flex-container has-text-centered has-text-centered is-fully-centered"
    style="position: relative; overflow: hidden"
    href="{{ highlight.link_destination | relative_url }}"
  >
    <img
      class="carousel-image tns-lazy-img"
      data-src="{{ highlight.banner_image | relative_url }}"
    />
  </a>
{% else %}
  <div
    class="column has-background-white-ter is-flex-container has-text-centered has-text-centered is-fully-centered"
    style="position: relative; overflow: hidden"
  >
    <img
      class="carousel-image tns-lazy-img"
      data-src="{{ highlight.banner_image | relative_url }}"
    />
  </div>
{% endif%}
