<!doctype html>
<html class="no-js {{ page.lang }}" lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if page.layout == 'landing-page' %}
      <title>{{ site.title }}</title>
      <meta name="description" content="{{ site.data.languages[page.lang].seo.descriptions.homepage }}" />
    {% else %}
      <title>{{ page.title }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.auto_switch_language == true %}
      <script src="{{ '/js/language_changer.js' | relative_url }}" type="text/javascript"></script>
    {% endif %}

    <link rel="shortcut icon" href="{{ '/uploads/favicon.ico' | relative_url }}">

    {% comment %}
      Recommended by Google to help search: https://support.google.com/webmasters/answer/182192?hl=en
    {% endcomment %}
    {% assign translated_pages = site.pages | where: "lang_ref", page.lang_ref %}
    {% for translated_page in translated_pages %}
      <link rel="alternate" hreflang="{{ translated_page.lang }}" href="{{ translated_page.url | relative_url }}" />
    {% endfor %}

    {% if page.layout == 'post' %}
      {% assign english_post = site.noticias | where:"lang_ref", page.lang_ref | first %}
      {% assign spanish_post = site.posts | where:"lang_ref", page.lang_ref | first %}

      <link rel="alternate" hreflang="{{ english_post.lang }}" href="{{ english_post.url | relative_url }}" />
      <link rel="alternate" hreflang="{{ spanish_post.lang }}" href="{{ spanish_post.url | relative_url }}" />
    {% endif %}

    {% if site.data.information.service_worker == true %}
      {% include register_service_worker.html %}
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">

    {% if page.show_carousel %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    {% endif %}

    {% if page.show_milestones %}
      <link rel="stylesheet" href="{{ '/css/milestones.css' | relative_url }}">
    {% endif %}
  </head>
<body>
