{% comment %}
	Displays the site's navigation
{% endcomment %}

{% assign current_url = page.url | remove:'index.html' %}

<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand is-vertically-centered is-flex-end">
    <a href="{{ page.lang | absolute_url }}">
      <figure class="image is-96x96" id="site-logo">
        <img src="{{ '/uploads/logo.png' | absolute_url }}">
      </figure>
    </a>

    {% unless page.hide_nav_buttons == true %}
      <div class="mobile-nav-call-to-actions-{{ page.lang }} is-hidden-desktop is-flex-container is-vertically-centered">
        {% include facebook_link.html %}

        {% include needs_link.html %}

        <a class="button modal-opener is-secondary ml-tiny" data-target="donation-modal" href="#">
          {{ site.data.languages[page.lang].donate.call_to_action }}
        </a>
      </div>
    {% endunless %}

    <a role="button" class="navbar-burger burger" id="da-burger" aria-label="menu" aria-expanded="false" data-target="navbarContent">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarContent" class="navbar-menu">
    {% include nav_language_switcher.html %}

    <div class="navbar-end">
      {% for link in site.data.menus %}
        {% unless link.lang == page.lang %}
          {% continue %}
        {% endunless %}

        {% if link.has_dropdown %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link {% if link.contained_links contains current_url %}dropdown-has-active{% endif %}" href="#">
              {{ link.title }}
            </a>

            <div class="navbar-dropdown">
              {% for child in link.children %}
                <a class="navbar-item {% if current_url == child.url %}is-active{% endif %}" href="{{ child.url | absolute_url }}" {% if child.target %} target="_blank" {% endif %}>
                  {{ child.title }}
                </a>
              {% endfor %}
            </div>
          </div>
        {% else %}
          {% assign item_active_class = "" %}
          {% if link.automated_active_link_check == true %}
            {% if current_url contains link.url %}
              {% assign item_active_class = "is-active" %}
            {% endif %}
          {% else %}
            {% if link.contained_links contains current_url %}
              {% assign item_active_class = "is-active" %}
            {% endif %}
          {% endif %}

          <a class="navbar-item {{ item_active_class }}" href="{{ link.url | absolute_url }}" {% if link.target %} target="_blank" {% endif %}>
            {{ link.title }}
          </a>
        {% endif %}
      {% endfor %}

      <div class="navbar-item is-hidden-mobile">
        <div class="is-flex-container is-vertically-centered">
          {% include facebook_link.html %}

          {% unless page.hide_nav_buttons == true %}
            {% include needs_link.html link_class="button mr-tiny" %}

            <a class="button modal-opener is-secondary" data-target="donation-modal" href="#">
              <strong>{{ site.data.languages[page.lang].donate.call_to_action }}</strong>
            </a>
          {% endunless %}
        </div>
      </div>
    </div>
  </div>
</nav>
