{% comment %}
	Displays the site's navigation
{% endcomment %}

{% assign current_url = page.url | remove:'index.html' %}
{% assign info = site.data.information %}

<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="{{ page.lang | absolute_url }}">
      <figure class="image is-96x96" id="site-logo">
        <img src="/uploads/logo.png">
      </figure>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarContent">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarContent" class="navbar-menu">
    <div class="navbar-end">
      {% for link in site.data.menus %}
        {% unless link.lang == page.lang %}
          {% continue %}
        {% endunless %}

        {% if link.has_dropdown %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link {% if link.contained_links contains current_url %}dropdown-has-active{% endif %}" href="#">
              {{ link.title }}
            </a>

            <div class="navbar-dropdown">
              {% for child in link.children %}
                <a class="navbar-item {% if current_url == child.url %}is-active{% endif %}" href="{{ child.url | absolute_url }}" {% if child.target %} target="_blank" {% endif %}>
                  {{ child.title }}
                </a>
              {% endfor %}
            </div>
          </div>
        {% else %}
          <a class="navbar-item {% if link.contained_links contains current_url %}is-active{% endif %}" href="{{ link.url | absolute_url }}" {% if link.target %} target="_blank" {% endif %}>
            {{ link.title }}
          </a>
        {% endif %}
      {% endfor %}

      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
