{% if page.lang == 'en' %}
  {% assign needs_link = '/uploads/2019/needs/July/en.pdf' %}
{% else %}
  {% assign needs_link = '/uploads/2019/needs/July/es.pdf' %}
{% endif %}

{% if include.link_class %}
  {% assign link_class = include.link_class %}
{% else %}
  {% assign link_class = 'button' %}
{% endif %}

<a class="{{ link_class }}" target="_blank" href="{{ needs_link | relative_url }}">
  {% if include.link_text %}
    {{ include.link_text }}
  {% else %}
    {{ site.data.languages[page.lang].needs }}
  {% endif %}
</a>
