{% comment %}
    Displays a twitter feed for the twitter user in _data/information.yml
    as well as the latest 2 documents from the _posts/ collection
{% endcomment %}

{% if page.show_news %}

<section class="has-background-white-bis pt-2 pb-1">
    <div class="container">
        <h1 class="is-size-3 has-text-centered mb-1">
            {{ page.news.title }}
        </h1>

        <div class="columns">
            {% if page.lang == 'en' %}
                {% assign related = site.posts | limit:3 %}
            {% else %}
                {% assign related = site.noticias | limit:3 %}
            {% endif %}

            {% for post in related %}
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ post.banner_image }}" alt="Placeholder image">
                            </figure>
                        </div>

                        <div class="card-content">
                            <div class="content">
                                <h3>
                                    <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                                </h3>
                                <p>
                                    {{ post.content | truncate: 100 }}
                                </p>
                                <br>
                                <date>{{ post.date | date_to_string }}</date>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
