{% comment %}
    Displays the latest news posts
{% endcomment %}

{% if page.show_news %}
<section class="has-background-white-ter pt-2 pb-3">
    <div class="container content-container">
        <h1 class="is-size-3 has-text-centered mb-1">
            {{ page.news.title }}
        </h1>

        <div class="is-vcentered">
            {% if page.lang == 'en' %}
                {% assign related = site.posts | sort | reverse | slice: 0, 9 %}
            {% else %}
                {% assign related = site.noticias | sort | reverse | slice: 0, 9 %}
            {% endif %}

            <div class="columns" id="news-carousel-container">
              {% for post in related %}
                <div class="column">
                  <div class="card">
                    <div class="card-image has-background-white-ter has-text-centered">
                      <img src="{{ post.banner_image | absolute_url }}" alt="{{ post.banner_image_alt }}" loading="lazy">
                    </div>

                    <div class="card-content">
                      <div class="content">
                        <h3>
                          <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                        </h3>
                        {% if post.path contains "_drafts" %}
                          <div class="tag is-warning">DRAFT POST</div>
                        {% endif %}
                        <p>
                          {{ post.content | truncate: 100 }}
                        </p>
                        <br>
                        <date>{{ post.date | date_to_string }}</date>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
