{% comment %}
  Displays upcoming event
{% endcomment %}
<div class="columns is-multiline is-nested mt-2">
  {% if page.lang == 'en' %}
    {% assign events = site.upcoming_events | sort:"date" | reverse %}
  {% else %}
    {% assign events = site.proximos_eventos | sort:"date" | reverse %}
  {% endif %}

  {% if events.size > 0 %}
    {% for upcoming_event in events %}
      <div class="column is-full mb-2 mt-1">
        <div class="columns is-desktop">
          <div class="column is-one-quarter">
            <figure class="image">
              <img class="lazy-load" data-src="{{ upcoming_event.banner_image | absolute_url }}" alt="{{ page.banner_image_alt }}">
            </figure>
          </div>

          <div class="column">
            <div class="content">
              <strong class="post-title">
                <a class="is-size-4" href="{{ upcoming_event.url | absolute_url }}">{{ upcoming_event.title }}</a>
              </strong>
              <div>
                <date>{{ upcoming_event.date | date_to_string }}</date>
              </div>
              <p>
                {% assign word_count = upcoming_event.content | split: ' ' | size %}
                {% if word_count <= 50 %}
                {{ upcoming_event.content }}
                {% else %}
                {{ upcoming_event.content | truncatewords: 50 }}
                {% endif %}
              </p>
              <a href="{{ upcoming_event.url | absolute_url }}" class="button is-primary is-outlined is-medium">
                {{ site.data.languages[page.lang].read_more }}
              </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
      <h4 class="is-size-4 has-text-centered">
        {{ site.data.languages.no_upcoming_events }}
      </h4>
  {% endif %}
</div>