<div class="column {{ include.column_size }}">
  <div class="card">
    {% unless include.hide_image %}
      <div class="is-flex-container is-fully-centered">
        <figure class="image pt-2">
          <img
            style="height: 250px; width: auto;"
            src="{{ include.image | relative_url }}"
            alt="{{ include.name }}">
        </figure>
      </div>
    {% endunless %}

    <div class="card-content has-text-centered mb-0">
      <div class="title is-size-5 mb-0">
        {{ include.name }}
      </div>

      {% if include.subtitle %}
        <div>
          <span class="tag is-light mt-1">
            {{ include.subtitle }}
          </span>
        </div>
      {% endif %}

      <hr />

      <div>
        <span class="tag is-{{ include.tag_style }}">
          {{ include.position }}
        </span>
      </div>
    </div>

    {% unless include.hide_reason %}
      <div class="card-content">
        {% if include.background %}
          <p>
            {{ include.background }}
          </p>

          <hr />
        {% endif %}

        {% if include.reason %}
          <b>
            {{ site.data.languages[page.lang].board.reason }}
          </b>

          <blockquote class="mt-1">
            {{ include.reason }}
          </blockquote>
        {% endif %}
      </div>
    {% endunless %}
  </div>
</div>
