/* Custom Colors */
$primary: #1C027A;
$primary-light: #bbb2d7;
$secondary: #FA6302;
$navbar-item-active-color: $secondary !important;
$navbar-item-active-background-color: inherit !important;
$navbar-dropdown-item-active-background-color: #f5f5f5 !important;
$footer-padding: 3rem 1.5rem;
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-border-color: $primary;
