/* Custom Colors */
$primary: #1C027A;
$primary-light: #bbb2d7;
$primary-light-with-opacity: rgba(187, 178, 214, 0.25);
$secondary: #FA6302;
$secondary-darker: #E05702;
$navbar-item-active-color: $secondary !important;
$navbar-item-active-background-color: inherit !important;
$navbar-dropdown-item-active-background-color: #f5f5f5 !important;
$footer-padding: 3rem 1.5rem;
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-border-color: $primary;
$modal-content-spacing-mobile: 80px;
$progress-value-background-color: $secondary;
$notification-padding: 0.75rem;
$paypal: #fdc33b;
$athMovil:#f57c00;
$modal-z: 100;
$modal-content-width: 75%;
