/* Custom Colors */
$primary: #1C027A;
$navbar-item-active-color: #FA6302 !important;
$navbar-item-active-background-color: inherit !important;
$navbar-dropdown-item-active-background-color: #f5f5f5 !important;
$footer-padding: 3rem 1.5rem;
