
/* Generic Helpers */
h1, h2, h3, date, .post-title, .navbar-item, .is-cursive {
  font-family: 'Patrick Hand', cursive;
}
#navbar-spacer {
  margin-top: 52px;
}
.round-border {
  border-radius: 50%;
}
.clickable {
  cursor: pointer;
}
.is-full-width { width: 100%; }
.is-half-width { width: 50%; }
.mt-1 { margin-top: 1em; }
.mt-2 { margin-top: 2em; }
.mb-0 { margin-bottom: 0px !important; }
.mb-tiny { margin-bottom: 5px !important; }
.mb-1 { margin-bottom: 1em; }
.mb-2 { margin-bottom: 2em; }
.mr-1 { margin-right: 1em; }
.ml-tiny { margin-left: 5px; }
.mr-tiny { margin-right: 5px; }

.p-1 { padding: 1em; }
.pt-0 { padding-top: 0px; }
.pt-1 { padding-top: 1em; }
.pt-2 { padding-top: 2em; }
.pb-0 { padding-bottom: 0px !important; }
.pb-1 { padding-bottom: 1em; }
.pb-2 { padding-bottom: 2em; }
.pb-3 { padding-bottom: 3em; }

.is-flex-container { display: flex; }
.is-vertically-centered { align-items: center; }
.is-horizontally-centered { justify-content: center; }
.is-fully-centered {
  @extend .is-vertically-centered;
  @extend .is-horizontally-centered;
}
.is-spaced-between { justify-content: space-between; }
.is-flex-end { justify-content: flex-end; }
.content-container { padding: 2em; }

.position-relative { position: relative; }

.cover-no-repeat {
  background-size: cover;
  background-repeat: no-repeat;
}

a.button.is-secondary {
  @extend .has-text-white;
  background-color: $secondary;
  border-color: transparent;
  &:hover {
    background-color: $secondary-darker;
    color: $white-bis !important;
  }
}
.has-text-secondary {
  color: $secondary !important;
}
.button {
  white-space: normal !important;
  height: inherit !important;
}

/* Site Logo */
#site-logo {
  z-index: 2;
  position: absolute;
  left: 20px;
  top: 0;
}

/* Navbar layout */
#navbarContent {
  .navbar-item {
    font-weight: 400;
    font-size: 1.1em;
    text-transform: uppercase;
  }
  .dropdown-has-active {
    color: $navbar-item-active-color;

    &:after {
      border-color: $navbar-item-active-color;
    }
  }
  #language-switcher {
    margin-left: 120px;

    a {
      color: $white-bis;
    }
    li:not(.is-active) a:hover {
      background: $secondary;
      border-color: $white-bis;
    }
    li.is-active a {
      background: $white-bis;
      border-color: $white-bis;
      color: $black-bis;
    }
  }
}

/* Tablets */
@media only screen and (min-width: $navbar-breakpoint) and (max-width: 1250px) {
  html.es {
    #navbarContent .navbar-item,
    #navbarContent .button,
    #language-switcher {
      font-size: 0.85em;
    }
  }

  html.en {
    #navbarContent .navbar-item,
    #navbarContent .button,
    #language-switcher {
      font-size: 0.95em;
    }
  }
}

@media screen and (max-width: $navbar-breakpoint - 1) {
  #navbarContent #language-switcher {
    margin-left: 0px;

    a {
      color: $black-bis;
      border-color: $white-ter;
    }
    li:not(.is-active) a:hover {
      background: $secondary;
      border-color: $white-ter;
      color: $white-bis;
    }
    li.is-active a {
      background: $secondary;
      border-color: $white-ter;
      color: $white-bis;
    }
  }
  #site-logo {
    left: 5px;
    width: 60px;
    height: 60px;
  }

  #da-burger {
    margin-left: inherit;
  }

  .mobile-nav-call-to-actions-es a {
    font-size: 13px;
  }

  #navbarContent {
    padding-top: 1em;

    .navbar-item {
      &.is-active {
        color: $secondary !important;
      }
      &.has-dropdown {
        .navbar-dropdown {
          display: none;
        }
      }
      &.is-open {
        .navbar-dropdown {
          display: block;
        }
      }
    }
  }

  .navbar-link:not(.is-arrowless)::after {
    border-color: #4a4a4a;
  }

  a.navbar-link:focus {
    color: inherit;
  }
}

/* Post Layouts - Side by Side */
.page-content {
  p {
    @extend .pt-1;
  }
}
#post-side-by-side-layout-image { min-height: 350px; }

/* Post Layouts - Prev/Next */
.navigation-post-container {
  position: relative;
  overflow: hidden;
  min-height: 150px;
}
.page-hero-image.navigation-post-hero-image {
  filter: blur(3px) brightness(0.5);

  &:hover {
    filter: blur(4px) brightness(0.25);
  }
}
.navigation-post-title {
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 100%;
  height: 100%;
  letter-spacing: 8px;
  font-weight: 900;
}

/* Page Hero Image */
.page-hero-image-container {
  position: relative;
  overflow: hidden;
  min-height: 350px;
}
.page-hero-image {
  position: absolute;
  z-index: 1;
  left: -15px;
  right: -15px;
  top: -15px;
  bottom: -15px;
  filter: blur(3.5px);
}
#page-hero-title {
  z-index: 2;
  width: 100%;
  letter-spacing: 8px;
  font-weight: 600;
}

/* Carousel */
#news-carousel-container img {
  max-height: 300px;
}
.carousel-image {
  display: block;
  height: auto;
  width: 100%;
}
.carousel-slide {
  height: 55vh;
}
#carousel-container-ow {
  button[data-action="stop"], button[data-action="start"] {
    opacity: 0.3;
    box-sizing: border-box;
    border-color: transparent transparent transparent #202020;
    background-color: transparent;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    &:hover {
      opacity: 0.8;
    }
  }
  button[data-action="start"] {
    height: 18px;
    border-style: solid;
    border-width: 9px 0 9px 17px;
  }
  button[data-action="stop"] {
    height: 20px;
    border-style: double;
    border-width: 0 0 0 17px;
  }
}
#controls-container {
  position: absolute;
  width: calc(100% - 20px);
  left: 10px;
  top: 50%;
  margin-top: -22.5px;
  z-index: 2;
  outline: none;
}

/* Masonry Grid */
.masonry-grid {
  transition: all .5s ease-in-out;
  column-gap: 10px;
  column-fill: initial;
  .brick {
    margin-bottom: 10px;
    display: inline-block; /* Fix the misalignment of items */
    vertical-align: top; /* Keep the item on the very top */
    min-width: 100px;
    min-height: 100px;
    &:hover img {
      opacity: .75;
    }
    img {
      transition: all .5s ease-in-out;
      backface-visibility: hidden; /* Remove Image flickering on hover */
    }
  }
}

/* Image Modal */
#masonry-image-count,
#masonry-image-close,
.modal-content {
  z-index: 1;
}
#masonry-image-count {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
}
#masonry-image-modal-blur-background, .blur-background {
  background-size: cover;
  filter: blur(40px) brightness(50%);
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  z-index: 0;
  transition: background-image 0.75s ease-in;
}
#image-modal-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -22.5px;
}
#prev-button, #next-button {
  color: black;
  background-color: gainsboro;
  opacity: 0.20;
  font-size: 28px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  &:hover {
    opacity: 1;
  }
  &[aria-disabled="true"] {
    opacity: 0.20;
    cursor: not-allowed;
  }
}

/* Padrinos Program */
.donar-photo {
  height: 200px;
  width: 100%;
}
.donar-box-caption {
  background-color: rgba(28,2,122,.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: background-color .35s;
}

/* Tabs */
#tab-contents {
  .tab-content {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

/* 404 */
#not-found-title {
  font-size: 7rem;
  font-weight: 200;
  background: linear-gradient(130deg, $primary-light, $primary);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/* Collaborators */
#collaborators .collaborator-tag {
  height: 3em;
  white-space: inherit;
}

/* Donation modal */
.custom-modal-close {
  top: 8px;
  right: 8px;
  position: absolute;
  z-index: 1000;

  &:before, &:after {
    background-color: black;
  }
}

/* Preview notification */
.staging-notification {
  position: fixed;
  top: 52px;
  z-index: 3;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

/* Mobile devices and below */
@media screen and (max-width: 768px) {
  .carousel-slide {
    height: auto;
    // max-height: 400px;
  }
  .custom-modal-close {
    right: 15px;
  }
  #donate-select {
    font-size: 1rem;
  }
  #donation-prompts {
    display: flex;
    flex-direction: column;

    #donation-prompt-other {
      order: 1;
    }
  }
  .carousel-text {
    padding: 1em 2.5rem 3rem 2.5rem;
  }
  #post-side-by-side-layout-container {
    flex-direction: column;
  }
  #post-side-by-side-layout-title {
    order: 2;
  }
  #post-side-by-side-layout-image {
    order: 1;
  }
  .prev-next-navigation-container {
    flex-direction: column;
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .masonry-grid {
    column-count: 2;
  }
}

/* Desktops and above */
@media only screen and (min-width: 1024px) {
  .masonry-grid {
    column-count: 3;
  }
}
