/* Custom Colors */
$primary: #1C027A;
$navbar-item-active-color: #FA6302 !important;
$navbar-item-active-background-color: inherit !important;

/* Generic Helpers */
h1, h2, h3, date, .post-title, .navbar-item {
  font-family: 'Patrick Hand', cursive;
}
#navbar-spacer {
  margin-top: 52px;
}
.round-border {
  border-radius: 50%;
}
.clickable {
  cursor: pointer;
}
.mt-1 { margin-top: 1em; }
.mt-2 { margin-top: 2em; }
.mb-1 { margin-bottom: 1em; }
.mb-2 { margin-bottom: 2em; }

.pt-1 { padding-top: 1em; }
.pt-2 { padding-top: 2em; }
.pb-1 { padding-bottom: 1em; }
.pb-2 { padding-bottom: 2em; }

.is-flex-container { display: flex; }
.is-vertically-centered { align-items: center; }
.is-horizontally-centered { justify-content: center; }
.content-container { padding: 2em; }

/* Navbar layout */
.navbar-item {
  font-weight: 400;
  font-size: 1.1em;
  text-transform: uppercase;
}
.dropdown-has-active {
  color: $navbar-item-active-color;

  &:after {
    border-color: $navbar-item-active-color;
  }
}

/* Post Layouts - Side by Side */
#post-content {
  p {
    @extend .pt-1;
  }
}
#post-side-by-side-layout-image { min-height: 350px; }

@media screen and (max-width: 768px) {
  #post-side-by-side-layout-container {
    flex-direction: column;
  }
  #post-side-by-side-layout-title {
    order: 2;
  }
  #post-side-by-side-layout-image {
    order: 1;
  }
}
