#hosted-fields.submitting {
  .hosted-field, #hosted-fields-submit-button {
    opacity: 0.5;
    pointer-events: none;
  }
}

#hosted-fields .fieldset {
  padding: 0;
  border-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#hosted-fields .hosted-field {
  padding: 10px 20px;
  border: 2px solid $primary;
  color: $grey-dark;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  width: 100%;

  &.focus, &:focus {
    border: 2px solid $secondary;
  }
  &.invalid {
    border: 2px solid $red;
  }
  &.non-stripe-elements::placeholder {
    color: $primary-light;
  }
}

#hosted-fields .hosted-field.half-width {
  width: calc(50% - (5px / 2));
}

#hosted-fields .hosted-field.third-width {
  width: calc(33% - (5px / 3));
}

#hosted-fields .hosted-field + .hosted-field {
  margin-top: 6px;
}

#hosted-fields input, #hosted-fields button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

#hosted-fields button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 0 15px;
  background-color: $primary;
  border-radius: 20px;
  font-size: 1.25rem;
  color: $white;
  cursor: pointer;
}
