// Reference: https://codepen.io/pepsto/pen/XaZRGZ
$green: #4cc93f;
$red: red;
$icon-base-size: 16px;

.custom-icon {
  display: inline-block;
  width: 8em;
  height: 8em;
  font-size: $icon-base-size;
  border-radius: 50%;
  border: 4px solid lighten($green, 20%);
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  transform: scale(1);
  animation: showAnimation 180ms ease-in-out;

  &.red {
    border: 4px solid lighten($red, 20%);
  }
}

.custom-icon {
  &__tip, &__long {
    display: block;
    position: absolute;
    height: 4px;
    background-color: lighten($green, 20%);
    border-radius: 10px;
  }

  &__tip {
    transform: rotate(45deg);
    animation: tipInPlace 300ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 180ms;
    visibility: hidden;

    &.red {
      background-color: lighten($red, 20%);
      animation: none;
      width: 4.5em;
      top: 3.60em;
      left: 1.5em;
      visibility: visible;
    }
  }

  &__long {
    transform: rotate(-45deg);
    animation: longInPlace 140ms ease-in-out;
    animation-fill-mode: forwards;
    visibility: hidden;
    animation-delay: 300ms + 140ms;

    &.red {
      background-color: lighten($red, 20%);
      animation: none;
      width: 4.5em;
      top: 3.60em;
      left: 1.5em;
      visibility: visible;
    }
  }
}

@keyframes showAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes tipInPlace {
  from {
    width: 0em;
    top: 0em;
    left: 0em;
  }
  to {
    width: 2.4em;
    top: 4.3em;
    left: 1.4em;
    visibility: visible;
  }
}

@keyframes longInPlace {
  from {
    width: 0em;
    top: 0em;
    left: 0em;
  }
  to {
    width: 4em;
    top: 3.70em;
    left: 2.75em;
    visibility: visible;
  }
}
