<img src="{{ '/uploads/give_a_hug/Event-Tarjeta-Placeholder.png' | relative_url }}" class="event-donation-card" width="100%" >
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 742.69 741.1"><defs><style>.cls-1{fill:none;stroke:#000f9f;stroke-miterlimit:10;opacity:0.16;}.cls-2{font-size:34.53px;fill:#000f9f;font-family:BrandonGrotesque-Regular, Brandon Grotesque;letter-spacing:0.02em;}</style></defs><title>Tarjeta-Placeholder-text</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1">
<path class="cls-1" d="M741.55,739.76C716.23,723.21.5,723.23.5,723.23L2.34,1.49,723.48.5S722.34,696.2,741.55,739.76Z"/>
  <text class="cls-2" transform="translate(158.05 169)">FROM_REPLACE_TEXT</text>
  <text class="cls-2" transform="translate(255.89 275)">TO_REPLACE_TEXT</text>
</g></g></svg>
