<section id="event-header" class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div id="event-logo" class="column has-text-centered">
        <img src="{{ '/uploads/give_a_hug/Logo-Maraton-DeAbrazos.svg' | relative_url }}" alt="Maraton De Abrazos" >
      </div>

      {% if site.data.information.give_a_hug.show_progress == true %}
        <div id="event-progress" class="column">
          <div class="columns">
            <div class="column level-item ">
              <p class="title is-marginless has-text-secondary">
                <span id="event-goal-progress">200</span>
                <span class="is-size-4">
                  {{ site.data.languages[page.lang].give_a_hug.hugs }} {{ site.data.languages[page.lang].give_a_hug.event_goal }} {{ site.data.information.give_a_hug.goal }}
                </span>
              </p>

              <progress class="progress is-secondary mt-1" id="goal-progress" value="15" max="100">15%</progress>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</section>

<section id="event-donation-engine" class="section is-secondary">
  <div class="container">
    <div class="columns is-flex-container has-text-centered is-vcentered" id="main-give-a-hug-container">
      <div id="event-donation-engine-slogan" class="column is-two-fifths is-centered">
        <img src="{{ '/uploads/give_a_hug/AQuienExtranasAbrazar.svg' | relative_url }}" alt="A Quien Extrañas Abrazar">
      </div>

      <div class="column has-text-centered">
        {% include give_a_hug/payment_interface.html %}
        {% include give_a_hug/sharing_interface.html %}
      </div>
    </div>
  </div>
</section>

<section class="section">
  <ul id="donation-cards" class="columns is-multiline is-gapless donation-cards-{{ page.lang }}">
    <li class="column is-one-quarter event-donation-card">
      <img src="{{ '/uploads/give_a_hug/Event-Tarjeta-Placeholder.png' | relative_url }}" class="event-donation-card" width="100%" >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 742.69 741.1"><defs><style>.cls-1{fill:none;stroke:#000f9f;stroke-miterlimit:10;opacity:0.16;}.cls-2{font-size:34.53px;fill:#000f9f;font-family:BrandonGrotesque-Regular, Brandon Grotesque;letter-spacing:0.02em;}</style></defs><title>Tarjeta-Placeholder-text</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1">
      <path class="cls-1" d="M741.55,739.76C716.23,723.21.5,723.23.5,723.23L2.34,1.49,723.48.5S722.34,696.2,741.55,739.76Z"/>
        <text class="cls-2" transform="translate(158.05 169)">Nombre Apellido</text>
        <text class="cls-2" transform="translate(255.89 275)">Abrazo Enviado a </text>
      </g></g></svg>
    </li>
  </ul>
</section>
