<div id="event-donation-engine-share" class="card event-donation-engine-container">
  <div class="card-content">
    <div class="notification is-success is-light is-hidden" id="give-a-hug-donation-options-notification"></div>

    <div class="columns is-multiline">
      <div class="column is-three-fifths is-offset-one-fifth">
        <h2 class="title has-text-primary">
          {{ site.data.languages[page.lang].give_a_hug.StepTwoTitle }}
        </h2>
        <p class="subtitle has-text-primary">
          {{ site.data.languages[page.lang].give_a_hug.StepTwoCaption }}
        </p>

        <form id="submit-hug-form">
          <div class="field" id="submit-hug-from-container">
            <label class="label">{{ site.data.languages[page.lang].form.labels.justname }}</label>
            <div class="control">
              <input class="input" type="text" placeholder="{{ site.data.languages[page.lang].form.labels.name }}" id="submit-hug-from" required>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" id="submit-hug-anonymous">
                {{ site.data.languages[page.lang].give_a_hug.FormGiftAnomimus }}</a>
              </label>
            </div>
          </div>

          <div class="field">
            <label class="label">{{ site.data.languages[page.lang].give_a_hug.FormGiftLabel }}</label>
            <div class="control has-text-centered">
              <div class="select">
                <select id="submit-hug-to" required>
                  <option value="0">My Spouse</option>
                  <option value="1">My Children</option>
                  <option value="2">My Parents</option>
                  <option value="3">My Brother</option>
                  <option value="4">My Sister</option>
                  <option value="5" selected>The Children of the Hogar</option>
                </select>
              </div>
            </div>
          </div>

          <button class="button is-primary is-fullwidth is-rounded is-medium mt-2" type="submit" id="submit-hug-button">
            {{ site.data.languages[page.lang].give_a_hug.FormPublish }}
          </button>
        </form>
      </div>
    </div>

    <div class="card is-shadowless">
      <div class="card-content">
        <h3 class="is-size-3 pb-1">Compartir en Redes Sociales<br/>Utiliza el #MaratonDeAbrazos</h3>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox"></div>
      </div>
    </div>
  </div>
</div>
