<div id="event-donation-social-share" class="card event-donation-engine-container is-hidden">
  <div class="card-content">
    <div class="notification is-info is-light is-hidden" id="post-give-a-hug-notification"></div>

    <h2 class="title has-text-primary">
      {{ site.data.languages[page.lang].give_a_hug.StepThreeTitle }}
    </h2>

    <div class="columns is-multiline">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="card is-shadowless">
          <div class="card-content pt-0">
            <h3 class="is-size-3 pb-1">
              {{ site.data.languages[page.lang].give_a_hug.StepThreeCaption }}
            </h3>

            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_inline_share_toolbox"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
