<div class="card">
  <div class="card-image has-background-white-ter has-text-centered">
    <img
      src="AUTOMATED_POST_IMAGE_URL"
      style="height: 200px"
    >
  </div>

  <div class="tag news-container-number">
    AUTOMATED_POST_NUMBER
  </div>

  <div class="card-content">
    <div class="content">
      <div class="is-italic mb-1"><small>AUTOMATED_POST_DATE</small></div>
      <p class="automated-post-message">AUTOMATED_POST_MESSAGE</p>

      <a href="AUTOMATED_POST_URL" class="button is-link is-outlined" target="_blank">
        {{ site.data.languages[page.lang].read_more }}
        <div class="image ml-2 is-24x24" style="margin-left: 4px">
          <img src="{{ '/uploads/social_media/facebook_color.png' | relative_url }}" alt="facebook logo">
        </div>
      </a>
    </div>
  </div>
</div>
