<script type="text/javascript" defer>
  var languageFilter = '{{ include.posts_lang }}';
  if (languageFilter === '') {
    languageFilter = '{{ page.lang }}';
  }
  var limit = '{{ include.posts_limit }}';
  if (limit === '') {
    limit = '25';
  }
  // var baseUrl = 'https://web-production-9b27.up.railway.app';
  var baseUrl = 'http://127.0.0.1:3000';
  fetch(`${baseUrl}/facebook_posts?limit=${limit}&language_filter=${languageFilter}`, {
    method: 'GET'
  })
  .then(function(response) {
    return response.json();
  })
  .then(function(jsonObject) {
    var shownPosts = 0;
    var posts = jsonObject && jsonObject.data;
    if (posts) {
      var containerId = '{{ include.posts_container_id }}';
      if (containerId === '') {
        containerId = 'noticias-container';
      }
      var noticiasContainer = document.getElementById(containerId);
      noticiasContainer.innerHTML = null; // Clear out existing skeleton loaders
      for (index = 0; index < posts.length; ++index) {
        if ((shownPosts + 1) > Number(limit)) break;

        var post = posts[index].attributes;
        if (languageFilter === 'en') {
          var postOriginalMessage = post.translation;
        } else {
          var postOriginalMessage = post.message;
        }
        if (!!postOriginalMessage) {
          shownPosts = shownPosts + 1;
          var shouldTruncate = '{{ include.truncate }}';
          if (shouldTruncate === 'true') {
            postOriginalMessage = postOriginalMessage.substring(0, Number('{{ include.truncateLength }}')) + ' ...';
          }
          var postContainer = document.createElement('div');
          postContainer.setAttribute('class', 'column {{ include.column_size }} mb-2 mt-1');
          var message = postOriginalMessage.replace('#', '<br/><br/>#');
          if (post.message_tags) {
            for (tagIndex = 0; tagIndex < post.message_tags.length; tagIndex++) {
              var tag = post.message_tags[tagIndex].replaceAll('=>', ':')
              var parsedTag = JSON.parse(tag);
              if (parsedTag.type === 'page') {
                message = message.replace(
                  parsedTag.name,
                  `<a href='https://www.facebook.com/${parsedTag.id}' target='_blank'>${parsedTag.name}</a>`
                );
              }
            }
          }
          var javascriptDate = new Date(post.created_time);
          var useCardStyle = '{{ include.useCardStyle }}';
          var htmlContent = `{% include automated_posts/post.html %}`;
          if (useCardStyle === 'true') {
            htmlContent = `{% include automated_posts/card.html %}`;
          }
          htmlContent = htmlContent.replace('AUTOMATED_POST_IMAGE_URL', post.full_picture)
            .replace('AUTOMATED_POST_MESSAGE', message)
            .replace('AUTOMATED_POST_LIKE_COUNT', post.like_count)
            .replace('AUTOMATED_POST_COMMENT_COUNT', post.comment_count)
            .replace('AUTOMATED_POST_URL', post.post_url)
            .replace('AUTOMATED_POST_NUMBER', shownPosts)
            .replace('AUTOMATED_POST_DATE', javascriptDate.toLocaleString(`${languageFilter}-US`, { dateStyle: 'full' }));
          postContainer.innerHTML = htmlContent;
          noticiasContainer.appendChild(postContainer);
        }
      }
    }
    if (shownPosts === 0) {
      var blankMessage = document.getElementById('automated-posts-blank-message');
      blankMessage.classList.remove('is-hidden');
    }
  })
  .catch(function(e) {
    console.log(e);
    window.trackEvent('loading_facebook_posts_failed');
  });
</script>
