<div class="has-background-white-ter">
  <div class="container content-container has-text-centered" id="flyer-layout-container">
    <img
      class="masonry-image flyer-image-modal-image clickable"
      src="{{ include.image }}"
      alt="{{ include.image_alt }}"
      style="height: {{ include.image_height }}px"
    />

    <h2 class="is-size-2 is-uppercase has-text-primary has-text-centered">
      {{ include.title }}
    </h2>
    {% unless include.hide_call_to_action == true %}
      <a
        class="button is-secondary is-medium mb-1"
        href="{{ include.call_to_action.url }}"
        target="_blank"
      >
        {{ include.call_to_action.text }}
      </a>
    {% endunless %}

    {% unless include.hide_date %}
      <h4 class="is-size-4">
        <date>
          {% include day_of_week_helper.html date=include.date %}
        </date>
      </h4>

      <h3 class="is-size-3">
        <date class="post-date has-text-centered">
          <!-- [date_to_string_helper] If we need to change this, make sure we change all occurrences! -->
          {% if page.lang == 'en' %}
            {% capture i18n_date %}
              {% assign m = include.date | date: "%-m" | minus: 1 %}
              {{ site.data.languages[page.lang].months_abbr[m] }}
              {% assign d = include.date | date: "%-d" %}
              {% case d %}
              {% when '1' or '21' or '31' %}{{ d }}st,
              {% when '2' or '22' %}{{ d }}nd,
              {% when '3' or '23' %}{{ d }}rd,
              {% else %}{{ d }}th
              {% endcase %}
              {{ ', ' }}
              {{ include.date | date: "%Y" }}
            {% endcapture %}
          {% else %}
            {% capture i18n_date %}
              {% assign d = include.date | date: "%-d" %}
              {{ d }}
              {{ ' de ' }}
              {% assign m = include.date | date: "%-m" | minus: 1 %}
              {{ site.data.languages[page.lang].months[m] }}
              {{ ' de ' }}
              {{ include.date | date: "%Y" }}
            {% endcapture %}
          {% endif %}

          {{ i18n_date }}
        </date>
      </h3>
    {% endunless %}

    {% unless include.hide_time %}
      <h4 class="is-size-4">
        <date>
          {{ include.time }}
        </date>
      </h4>
    {% endunless %}

    {% if include.location %}
      <h4 class="is-size-4">
        <div class="tag is-info is-light is-medium">
          <a
            href="{{ include.location.url }}"
            target="_blank"
          >
            {{ include.location.text }}
          </a>
        </div>
      </h4>
    {% endif %}

    {% if page %}
      <div class="has-text-centered">
        {% if page.path contains "_drafts" %}
          <div class="tag is-warning">DRAFT POST</div>
        {% endif %}
        {% if page.published == false %}
          <div class="tag is-info">UNPUBLISHED CHANGES</div>
        {% endif %}

        {% if page.layout != 'upcoming_event' %}
          {% if post_date_to_compare >= current_date %}
            <div class="tag is-info">FUTURE</div>
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

<div class="modal" id="flyer-image-modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <p class="image is-flex-container is-horizontally-centered">
      <img class="modal-highlight" id="flyer-image-modal-highlight">
    </p>
  </div>

  <button class="modal-close modal-image-close is-large" aria-label="close" id="flyer-image-modal-close"></button>
</div>
