<div class="container content-container">
  <section class="is-medium">
    <div class="pb-2 content page-content">
      <div class="columns">
        <div class="column">
          <div class="content">
            {{ include.content_html }}
          </div>
        </div>

        {% if include.image %}
          <div class="column is-one-third">
            <figure class="image">
              <img
                src="{{ include.image | relative_url }}"
                alt="{{ include.image_alt }}"
              >
            </figure>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
</div>
