<div class="column">
  <h3 class="is-size-3 mb-0">
    {{ include.title }}
  </h3>
  {{ include.content_html }}

  {% unless include.hide_call_to_action == true %}
    {% assign color = include.call_to_action.text_color | default: '#FFFFFF' %}
    {% assign background_color = include.call_to_action.background_color | default: '#1B0278' %}
    <br />
    {% if include.call_to_action.opens_donate_modal %}
      <a
        class="button modal-opener"
        style="color: {{ color }}; background-color: {{ background_color }}"
        data-target="donation-modal"
        href="#"
      >
        {{ include.call_to_action.text }}
      </a>
    {% else %}
      <a
        class="button is-{{ include.call_to_action.style }}"
        href="{{ include.call_to_action.url | relative_url }}"
        style="color: {{ color }}; background-color: {{ background_color }}"
      >
        {{ include.call_to_action.text }}
      </a>
    {% endif %}
  {% endunless %}
</div>