<div class="page-hero-image-container is-flex-container is-fully-centered">
  <div
    class="page-hero-image with_blur"
    alt="{{ include.image_alt }}"
    style="background: url('{{ include.image | relative_url }}') center center; background-size: {{ include.image_style }}; background-repeat: no-repeat">
  </div>

  {% assign color = include.title_color | default: '#1B0278' %}
  <div
    class="p-1 has-text-centered"
    id="page-hero-title"
    style="color: {{ color }}"
  >
    <h1 class="is-size-1 has-text-weight-bold">
      {{ include.title }}
    </h1>
  </div>
</div>