---
layout: default
lazy_load: true
---
{% comment %}
	This layout is used by the Noticias page to automatically show all posts from Facebook
{% endcomment %}

<div class="container content-container">
  <section class="is-medium">
    <h3 class="is-size-3 has-text-centered">
      {{ page.title }}
    </h3>

    <hr />

    <div class="columns is-multiline is-nested mt-2" id="noticias-container">
			<!-- All this content will be replaced once the data loads from the API -->
			<div class="column is-full mb-2 mt-1 skeleton-article">
				<div class="columns is-desktop">
					<div class="column is-one-quarter">
						<figure class="image skeleton-article-image"></figure>
					</div>

					<div class="column">
						<div class="content">
							<div class="skeleton-article-title mb-1"></div>
							<div class="skeleton-article-subtitle mb-2"></div>
							<p class="skeleton-article-text mb-1"></p>
							<p class="skeleton-article-text mb-1"></p>
							<p class="skeleton-article-text less mb-1"></p>
						</div>
					</div>
				</div>
			</div>

			<div class="column is-full mb-2 mt-1 skeleton-article">
				<div class="columns is-desktop">
					<div class="column is-one-quarter">
						<figure class="image skeleton-article-image"></figure>
					</div>

					<div class="column">
						<div class="content">
							<div class="skeleton-article-title mb-1"></div>
							<div class="skeleton-article-subtitle mb-2">
							<p class="skeleton-article-text mb-1"></p>
							<p class="skeleton-article-text mb-1"></p>
							<p class="skeleton-article-text less mb-1"></p>
						</div>
					</div>
				</div>
			</div>

			<div class="column is-full mb-2 mt-1 skeleton-article">
				<div class="columns is-desktop">
					<div class="column is-one-quarter">
						<figure class="image skeleton-article-image"></figure>
					</div>

					<div class="column">
						<div class="content">
							<div class="skeleton-article-title mb-1"></div>
							<div class="skeleton-article-subtitle mb-2"></div>
							<p class="skeleton-article-text mb-1"></p>
							<p class="skeleton-article-text mb-1"></p>
							<p class="skeleton-article-text less mb-1"></p>
						</div>
					</div>
				</div>
			</div>

			<div class="column is-full mb-2 mt-1 skeleton-article">
				<div class="columns is-desktop">
					<div class="column is-one-quarter">
						<figure class="image skeleton-article-image"></figure>
					</div>

					<div class="column">
						<div class="content">
							<div class="skeleton-article-title mb-1"></div>
							<div class="skeleton-article-subtitle mb-2"></div>
							<p class="skeleton-article-text mb-1"></p>
							<p class="skeleton-article-text mb-1"></p>
							<p class="skeleton-article-text less mb-1"></p>
						</div>
					</div>
				</div>
			</div>

			<div class="column is-full mb-2 mt-1 skeleton-article">
				<div class="columns is-desktop">
					<div class="column is-one-quarter">
						<figure class="image skeleton-article-image"></figure>
					</div>

					<div class="column">
						<div class="content">
							<div class="skeleton-article-title mb-1"></div>
							<div class="skeleton-article-subtitle mb-2"></div>
							<p class="skeleton-article-text mb-1"></p>
							<p class="skeleton-article-text mb-1"></p>
							<p class="skeleton-article-text less mb-1"></p>
						</div>
					</div>
				</div>
			</div>
    </div>
  </section>
</div>
