{% comment %}
	The default layout for the site, which is extended by all other layouts.
	Includes the document <head>, main navigation and page footer
{% endcomment %}

{% include head.html %}

{% include nav.html %}

<div id="navbar-spacer"></div>

{% comment %}
	Any layout that extends this layout will have its contents
	added as the content variable
{% endcomment %}

{{ content }}

{% for block in page.content_blocks %}
  {% comment %} 
      # The bind parameter here passes the inner fields of block to the component.
      # Imagine it like the ...spread operator in JavaScript.
  {% endcomment %}
  {% bookshop {{block._bookshop_name}} bind=block %}
{% endfor %}

{% include footer.html %}

{% include donation_modal.html %}
