<div class="mt-1 {{ include.background }} has-text-centered">
  <div class="columns pt-5 pb-5 is-horizontally-centered">
    <div class="column has-background-{{ include.banner_background }} is-two-thirds">
      <div class="columns card primary-light-border">
        <div class="column is-two-thirds">
          <b>{{ include.title }}</b>
          {% if include.content %}
            {% bookshop content bind=include.content %}
          {% endif %}
        </div>

        <div class="column is-flex is-horizontally-centered is-vertically-centered">
          <a class="button is-primary" href="{{ include.call_to_action.url | relative_url }}" target="_blank">
            {{ include.call_to_action.text }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
