---
layout: default
---

{% comment %}
	This layout is used to generate custom landing page layouts,
	e.g index.md and about.md
{% endcomment %}

{% include carousel.html %}
{% assign current_date = 'now' | date: '%s' | plus: 0 %}

<section class="pb-2">
  <div class="container content-container">
    <h1 class="is-size-1 has-text-centered has-text-primary">
      {{ page.call_to_action.header }}
    </h1>
    <p class="has-text-centered mb-2 mt-2">
      {{ page.call_to_action.text }}
    </p>

    <div class="tile is-ancestor">
      <div class="tile is-1"></div>
      <div class="tile is-vertical is-10">
        <div class="tile" id="upcoming-event">
          {% if page.lang == 'en' %}
            {% assign events = site.upcoming_events | sort:"date" | reverse %}
          {% else %}
            {% assign events = site.proximos_eventos | sort:"date" | reverse %}
          {% endif %}

          {% if events.size > 0 %}
            {% for upcoming_event in events %}
              {% assign event_date_to_compare = upcoming_event.date | date: '%s' | plus: 0 %}

              {% if event_date_to_compare < current_date %}
                {% continue %}
              {% endif %}

              <div class="tile is-parent is-vertical">
                <article class="tile is-child has-background-primary-light-with-opacity p-1">
                  <div class="columns is-vertically-centered">
                    <div class="column is-one-third has-text-centered">
                      {% if upcoming_event.banner_image %}
                        <img
                          src="{{ upcoming_event.banner_image }}"
                          alt="{{ upcoming_event.banner_image_alt }}"
                          style="height: 125px"
                        />
                      {% endif %}
                      <h5 class="is-size-5">
                        {% include day_of_week_helper.html date=upcoming_event.date %}
                      </h5>
                      <h3 class="is-size-3">
                        <date>
                          {% include date_to_string_helper.html date=upcoming_event.date use_year=false %}
                        </date>
                      </h3>
                      <h5 class="is-size-5">
                        {{ upcoming_event.time }}
                      </h5>
                    </div>

                    <div class="column">
                      <strong class="post-title">
                        <a class="is-size-3" href="{{ upcoming_event.url | relative_url }}">{{ upcoming_event.title }}</a>
                      </strong>

                      <p>
                        {% assign word_count = upcoming_event.content | split: ' ' | size %}
                        {% if word_count <= 50 %}
                          {{ upcoming_event.content }}
                        {% else %}
                          {{ upcoming_event.content | truncatewords: 50 }}
                        {% endif %}
                      </p>

                      <a href="{{ upcoming_event.url | relative_url }}" class="button is-outlined is-medium mt-1">
                        + {{ site.data.languages[page.lang].upcoming_events.event_details }}
                      </a>
                    </div>
                  </div>
                </article>
              </div>
              {% break %}
            {% endfor %}
          {% endif %}
        </div>

        <div class="tile donation-prompts">
          <div class="tile is-parent is-vertical donation-prompt-other">
            <article class="tile is-child has-background-light p-1">
              <p class="is-size-3 is-cursive">{{ page.highlights.complementary.one.title }}</p>

              <div class="mb-1">
                <small>
                  {{ page.highlights.complementary.one.subtitle }}
                </small>
              </div>

              {% assign donate_time_page = site.pages | where: "lang", page.lang | where: "lang_ref", "donate-time" | first %}
              <a class="button" href="{{ donate_time_page.url | relative_url }}">
                {{ site.data.languages[page.lang].see_how }}
              </a>
            </article>

            <article class="tile is-child has-background-light p-1">
              <p class="is-size-3 is-cursive">{{ page.highlights.complementary.two.title }}</p>

              <div class="mb-1">
                <small>
                  {{ page.highlights.complementary.two.subtitle | replace: 'PHONE', site.data.information.phone }}
                </small>
              </div>

              {% assign link_text = site.data.languages[page.lang].needs %}
              {% include needs_link.html link_text=link_text %}
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child has-background-light p-1 is-secondary">
              <p class="is-size-3 is-cursive">{{ page.highlights.main.title }}</p>
              <div class="mb-1">
                <small>
                  {{ page.highlights.main.subtitle }}
                </small>
              </div>

              {% assign padrinos_page = site.pages | where: "lang", page.lang | where: "lang_ref", "padrinos-program" | first %}

              <div class="donar-box position-relative">
                <div class="donar-photo contain-no-repeat" alt="" style="background-image: url('{{ page.highlights.main.image | relative_url }}')"></div>
                <div class="donar-box-caption has-text-white has-text-centered is-cursive is-flex-container is-fully-centered">
                  <div class="donar-box-caption-content">
                    <a href="{{ padrinos_page.url | relative_url }}" class="button is-large is-secondary">
                      {{ site.data.languages[page.lang].learn_more }}
                    </a>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include news.html %}

<section>
  <div class="container content-container">
    <div class="tile is-ancestor">
      <div class="tile is-1"></div>
      <div class="tile is-vertical is-10">
        <div class="tile donation-prompts">
          <div class="tile is-parent">
            <article class="tile is-child has-background-light p-1 is-secondary">
              <p class="is-size-3 is-cursive">{{ page.secondary_highlights.main.title }}</p>
              <div class="mb-1">
                <small>
                  {{ page.secondary_highlights.main.subtitle }}
                </small>
              </div>

              <div class="youtube-player-container has-text-centered mt-2" data-embed="biW0VL6aMfE">
                <div class="play-button"></div>
              </div>

              {% assign prevention_page = site.pages | where: "lang", page.lang | where: "lang_ref", "education-and-prevention" | first %}
              <a class="button mt-2 is-secondary" href="{{ prevention_page.url | relative_url }}">
                {{ site.data.languages[page.lang].read_more }}
              </a>
            </article>
          </div>

          <div class="tile is-parent is-vertical donation-prompt-other">
            <article class="tile is-child has-background-light p-1">
              <p class="is-size-3 is-cursive">{{ page.secondary_highlights.complementary.one.title }}</p>

              <div class="mb-1">
                <small>
                  {{ page.secondary_highlights.complementary.one.subtitle }}
                </small>
              </div>

              {% assign donate_time_page = site.pages | where: "lang", page.lang | where: "lang_ref", "collaborators" | first %}
              <a class="button" href="{{ donate_time_page.url | relative_url }}">
                {{ site.data.languages[page.lang].see_how }}
              </a>
            </article>

            <article class="tile is-child has-background-light p-1">
              <p class="is-size-3 is-cursive">{{ page.secondary_highlights.complementary.two.title }}</p>

              <div class="mb-1">
                <small>
                  {{ page.secondary_highlights.complementary.two.subtitle }}
                </small>
              </div>

              {% assign milestones_page = site.pages | where: "lang", page.lang | where: "lang_ref", "milestones" | first %}
              <a class="button" href="{{ milestones_page.url | relative_url }}">
                {{ site.data.languages[page.lang].learn_more }}
              </a>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
