---
layout: default
---
{% comment %}
	This layout is used to by posts.md to display all of documents in
	the _posts/ collection
{% endcomment %}

{% if page.lang == 'en' %}
  {% assign related = site.posts %}
{% else %}
  {% assign related = site.noticias %}
{% endif %}

<div class="container content-container">
  <section class="is-medium">
    <h1 class="is-size-3 has-text-centered">
      {{ page.title }}
    </h1>

    <hr />

    <div class="columns is-multiline is-nested mt-2">
      {% for post in related %}
        <div class="column is-full mb-2 mt-1">
          <div class="columns is-desktop">
            <div class="column is-one-quarter">
              <figure class="image">
                <img src="{{ post.banner_image | absolute_url }}" alt="{{ page.banner_image_alt }}">
              </figure>
            </div>

            <div class="column">
              <div class="content">
                <strong class="post-title">
                  <a class="is-size-4" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                </strong>
                <div>
                  <date>{{ post.date | date_to_string }}</date>
                </div>
                <p>
                  {{ post.content | truncatewords: 50 }}
                </p>
                <a href="{{ post.url | absolute_url }}" class="button is-primary is-outlined is-medium">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</div>
