---
layout: default
lazy_load: true
---
{% comment %}
	This layout is used to by posts.md to display all of documents in
	the _posts/ collection
{% endcomment %}

{% if page.lang == 'en' %}
  {% assign related = site.posts | uniq | sort:"date" | reverse %}
{% else %}
  {% assign related = site.noticias | uniq | sort:"date" | reverse %}
{% endif %}

<div class="container content-container">
  <section class="is-medium">
    <h1 class="is-size-3 has-text-centered">
      {{ page.title }}
    </h1>

    <hr />

    <div class="columns is-multiline is-nested mt-2">
      {% for post in related %}
        <div class="column is-full mb-2 mt-1">
          <div class="columns is-desktop">
            <div class="column is-one-quarter">
              <figure class="image">
                <img class="lazy-load" data-src="{{ post.banner_image | absolute_url }}" alt="{{ page.banner_image_alt }}">
              </figure>
            </div>

            <div class="column">
              <div class="content">
                <strong class="post-title">
                  <a class="is-size-4" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                </strong>
                <div>
                  <date>{{ post.date | date_to_string }}</date>
                </div>
                {% if post.path contains "_drafts" %}
                  <div class="tag is-warning">DRAFT POST</div>
                {% endif %}
                <p>
                  {% if post.blurb_description %}
                    {% assign content = post.blurb_description %}
                  {% else %}
                    {% assign content = post.content %}
                  {% endif %}

                  {% assign word_count = content | split: ' ' | size %}
                  {% if word_count <= 30 %}
                    {{ content }}
                  {% else %}
                    {{ content | truncatewords: 30 }}
                  {% endif %}
                </p>
                <a href="{{ post.url | absolute_url }}" class="button is-primary is-outlined is-medium">
                  {{ site.data.languages[page.lang].read_more }}
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</div>
