---
layout: default
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

{% if page.header_layout == 'side_by_side' %}
  {% include post_headers/side_by_side.html %}
{% else if page.header_layout == 'central_title' %}
  {% include post_headers/central_title.html %}
{% endif %}

<div class="container content-container">
  <section class="is-medium">
    <div class="pb-2 content" id="post-content">
      {% if page.content_layout == 'split' %}
        {% include post_content/split.html %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </section>

  <hr />
  {% include breadcrumbs.html class="container content-container" %}

</div>
