---
layout: default
lazy_load: true
---
{% comment %}
  This layout is used by the documents in the _upcoming_events/ collection
{% endcomment %}
{% if page.header_layout == 'side_by_side' %}
  {% include post_headers/side_by_side.html %}
{% else if page.header_layout == 'central_title' %}
  {% include post_headers/central_title.html %}
{% endif %}

<div class="container content-container">
  <section class="is-medium">
    <div class="pb-2 content page-content">
      {% if page.content_layout == 'split' %}
        {% include post_content/split.html %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
  </section>
</div>