{% assign current_date = 'now' | date: '%s' | plus: 0 %}
{% assign post_date_to_compare = include.date | date: '%s' | plus: 0 %}

<div class="columns is-mobile" id="post-side-by-side-layout-container">
  <div
    class="column has-background-white-ter is-flex-container is-vertically-centered is-horizontally-centered"
    id="post-side-by-side-layout-title"
  >
    <section class="hero">
      <div class="hero-body">
        <h1 class="is-size-2 is-uppercase">
          {{ include.title }}
        </h1>

        {% unless include.hide_date %}
          <h4 class="is-size-4">
            <date>
              {% include day_of_week_helper.html date=include.date %}
            </date>
          </h4>

          <h3 class="is-size-3">
            <date class="post-date has-text-centered">
              <!-- [date_to_string_helper] If we need to change this, make sure we change all occurrences! -->
              {% if env_bookshop_live %}
                {% if page.lang == 'en' %}
                  {% assign months = "January, February, March, April, May, June, July, August, September, October, November, December" | split: ", " %}
                  {% capture i18n_date %}
                    {% assign m = include.date | date: "%-m" | minus: 1 %}
                    {{ months[m] }}
                    {% assign d = include.date | date: "%-d" %}
                    {% case d %}
                    {% when '1' or '21' or '31' %}{{ d }}st,
                    {% when '2' or '22' %}{{ d }}nd,
                    {% when '3' or '23' %}{{ d }}rd,
                    {% else %}{{ d }}th
                    {% endcase %}
                    {{ ', ' }}
                    {{ include.date | date: "%Y" }}
                  {% endcapture %}
                {% else %}
                  {% assign months = "enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre" | split: ", " %}
                  {% capture i18n_date %}
                    {% assign d = include.date | date: "%-d" %}
                    {{ d }}
                    {{ ' de ' }}
                    {% assign m = include.date | date: "%-m" | minus: 1 %}
                    {{ months[m] }}
                    {{ ' de ' }}
                    {{ include.date | date: "%Y" }}
                  {% endcapture %}
                {% endif %}

                {{ i18n_date }}
              {% else %}
                {% include date_to_string_helper.html date=include.date use_year=true %}
              {% endif %}
            </date>
          </h3>
        {% endunless %}
        
        <!-- Page specific logic -->
        {% if page %}
          {% if page.path contains "_drafts" %}
            <div class="tag is-warning">DRAFT POST</div>
          {% endif %}
          {% if page.published == false %}
            <div class="tag is-info">UNPUBLISHED CHANGES</div>
          {% endif %}

          {% if page.layout != 'upcoming_event' %}
            {% if post_date_to_compare >= current_date %}
              <div class="tag is-info">FUTURE</div>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </section>
  </div>

  {% if include.image %}
    <div class="column" id="post-side-by-side-layout-image" alt="{{ include.image_alt }}"
      style="background: url('{{ include.image | relative_url }}') center center; background-size: {{ include.image_style }}; background-repeat: no-repeat">
    </div>
  {% endif %}
</div>
